/* Estilos para o footer com uma cor moderna */

.footer {
    color: #fff;
    padding: 30px 0;
    font-family: Arial, sans-serif; /* Fonte moderna */
    background-color: var(--brand--color--primary);
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
  }
  
  .footer h3 {
    color: #ecf0f1; /* Cor do título */
    margin-bottom: 15px;
  }
  
  .footer p {
    margin: 10px 0;
  }
  
  .footer .empresa,
  .footer .contato {
    padding: 0 20px;
  }
  
  .footer .empresa {
    border-right: 1px solid #34495e; /* Linha separadora */
  }
  
  .footer .contato {
    border-left: 1px solid #34495e; /* Linha separadora */
  }
  

  @media(max-width:426px){
    .footer .container{
      display: block;
    }
  }