/* styles.css */
dialog::backdrop{
    background-color: #191C1FCC;
}

#modalCarrinho {
    width: 80%;
    max-width: 600px;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  #modal__cadastro {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
  }
  
  #container__headerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  #container__headerModal h3 {
    margin: 0;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
  }
  
  #remover__modal {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    line-height: none;
  }

  #remover__modal img{

    width: 30px;

  }
  
  .carrinho__itens {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
  }
  
  .carrinho__item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  
  .carrinho__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  #totalPreco {
    font-size: 18px;
    font-weight: bold;
  }

  .dados__carrinho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .remover-item{
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  #checkout {
    width: 100%;
    background-color: var(--brand--color--primary);
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #checkout:hover {
    background-color: #3f51b5d5;
  }

  .corImgPequena{
    height: 25px;
    position: relative;
    top: 6px;
    left: 7px;
}
  